name: Final Hope

on:
  workflow_dispatch:

jobs:
  strike:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [ "google.com", "facebook.com", "tesla.com" ] # ئامانجەکان لێرە بنووسە
    steps:
      - name: Run Scan
        run: |
          echo "Final drone is striking: ${{ matrix.target }}"
          sleep 5
